.profile-page {
    max-width: 500px;
    min-width: 350px;
}

.profile-avatar {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.dropdown-toggle::after {
    display: none !important; 
}

.delete-button {
    background-color: none;
    border: none;
    border-radius: 5px;
}


.delete-button:hover {
    background-color: rgb(200, 200, 200);
}