#basic-nav-dropdown {
    border: none;
    padding: 0px;
}

.navbar-brand {
    display: flex;
    align-items: center;
  }

.nav-icon:hover {
    transform: scale(1.2);
}

.nav-avatar {
    object-fit: cover;
}