#post {
    min-width: 350px;
    max-width: 500px;
    border-radius: 0 !important;
}

img {
    border-radius: 0 !important;
    /* margin-right: 10px; */
}

.timestamp {
    text-align: right;
}

.avatar {
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 10px;
}

.post-header {
    align-items: center;
}

.unlike-button {
    background: none;
    border: none;
    color: red;
    padding-left: 0px;
}

.like-button {
    background: none;
    border: none;
    color: black;
    padding-left: 0px;
}

.like-button:hover {
    transform: scale(1.2);
}

.unlike-button:hover {
    transform: scale(1.2);
}

.radio-buttons {
    margin-top: .5rem;
    text-align: center;
}

.btn:focus{
  box-shadow: none!important;
}