#post {
    min-width: 350px;
    max-width: 500px;
    border-radius: 0 !important;
}

img {
    border-radius: 0 !important;
    margin-right: 10px;
}

.timestamp {
    text-align: right;
}

.avatar {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.post-header {
    align-items: center;
}

.unlike-button {
    background: none;
    border: none;
    color: red;
}

.like-button {
    background: none;
    border: none;
    color: black;
}